<!--Страница статьи. Тут отображаем данные статьи-->

{% extends "base.html" %}

{% block title %}{% if article %}{{ article.title }}{% else %}Article not found{% endif %}{% endblock %}

{% block content %}
    <div class="content">
        {% if article %}
            <!-- Ссылка на статью на сайте v1 -->
            <div><i class="fas fa-link"></i> <a href="{{ article.link }}" target="_blank">{{ article.link }}</a></div>

            <!-- Заголовок статьи большими буквами -->
            <div><h2>{{ article.title }}</h2></div>

            <!-- Отображение даты публикации, количества просмотров и комментариев -->
            <div class="h-spaced">
                <div class="h-left"><i class="fas fa-calendar-alt"></i> {{ format_date(article.date) }}</div>
                <div class="h-right">
                    <i class="fas fa-eye"></i> {{ article.views }}
                    <i class="fas fa-comments"></i> {{ article.comments }}
                </div>
            </div>

            <!-- Текст статьи отображаем по абзацам -->
            <div class="text-content">
                <!--Тут мы получаем параграфы с встроенными выделенными предложениями-->
                {% for paragraph in get_paragraphs(article, sentences) %}
                    <!--safe предотвращает экранирование, ибо выделение через html-тэг-->
                    <p>{{ paragraph | safe }}</p>
                {% endfor %}
            </div>

            <!-- Таймстамп обновления записи в бд -->
            <div><i class="fas fa-database"></i> {{ format_date(article.update_date) }}</div>
        {% else %}

            <!-- Статья не найдена -->
            <h1 class="message-centered">Article not found</h1>
            {% include "go_back.html" %}

        {% endif %}
    </div>
{% endblock %}

{% block other %}
    <!-- Кнопка назад в левой части экрана -->
    <div class="back-pane no-select">
        <a href="{{ back }}" class="back">
            <i class="fas fa-arrow-left"></i> Back
        </a>
    </div>
{% endblock %}
