<!-- Главная страница. Отображаем список статей с возможностью
открыть оригинал или страницу статьи в интерфейсе -->

{% extends "base.html" %}

{% block title %}Article List{% endblock %}

{% block scripts %}
    <!-- Включаем собственный скрипт -->
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script>let ids = ['title', 'date', 'views', 'comments', 'update_date']</script>
    <script src="{{ url_for('static', filename='sortable.js') }}"></script>
{% endblock %}


{% block content %}

    <!-- Блок с количеством записей в БД и кнопочкой Update -->
    <div class="content">
        <div id="records">
            <h3 class="rec-count">There's currently {{ count }} records in database</h3>
            <label for="parse-input">Page:</label><input id="parse-input" oninput="validate(this)" value="1">
            <button onclick="updateDatabase()">Update articles</button>
            <button onclick="updateW2V()">Update synonyms</button>
            <div id="upd-results"></div>
        </div>
    </div>

    <!-- Сам список статей -->
    <div class="content">
    {% if articles %}

        <!-- Влепляем панельку навигации. Ещё одна снизу -->
        {% include "page_navigation.html" %}

        <!-- Данные красиво показываем табличкой -->
        <table class="centered">
            <thead>
            <tr>
                <th class="no-select">Link</th>

                <!-- Следующие поля позволяют сортировку -->

                <th class="no-select pointer iSortable" id="title">Title</th>
                <th class="no-select pointer iSortable" id="date">Date</th>

                <!-- Просмотры и комментарии помечаются иконками -->
                <th class="no-select pointer iSortable" id="views"><i class="fas fa-eye"></i></th>
                <th class="no-select pointer iSortable" id="comments"><i class="fas fa-comments"></i></th>

                <th class="no-select pointer iSortable" id="update_date">Updated at</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
            <tr>
                <!-- Ссылка на статью на v1 -->
                <td><a href="{{ article.link }}" target="_blank">v1.ru</a></td>

                <!-- Ссылка на статью в интерфейсе -->
                <td class="ellipsis"><a href="{{ article.url }}">{{ article.title }}</a></td>

                <td>{{ format_date(article.date) }}</td>
                <td>{{ article.views }}</td>
                <td>{{ article.comments }}</td>
                <td>{{ format_date(article.update_date) }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include "page_navigation.html" %}

    {% elif count != 0 %}

        <!-- Если статей для этой страницы нет, но сами статьи есть, то это неправильная страница -->
        <h1 class="message-centered">This is wrong page</h1>
        {% include "go_back.html" %}

    {% else %}

        <!-- При отсутствии статей отображаем соответствующее сообщение -->
        <h1 class="message-centered">No articles found</h1>

    {% endif %}
    </div>

{% endblock %}
